<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header navbar-brand">
            <span class="text-primary">Automation Track Builder</span>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <input id="import-file" type="file" class="hidden" />
                    <a ng-click="importFile()">
                        <span class="glyphicon glyphicon-import"></span>
                        Load file
                    </a>
                </li>
                <li>
                    <a ng-click="exportFile()">
                        <span class="glyphicon glyphicon-export"></span>
                        Save file
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<canvas id="track-overview" width="640" height="360">
</canvas>
<br/>

<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Track name</label>
            <input type="text" class="form-control" ng-model="track.name" />
        </div>
        2D total length: {{ total2D|number:2 }}m
        <br/>
        3D total length: {{ total3D|number:2 }}m
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default btn-block" ng-click="track.cornerPush(); onTrackUpdate()">
            <span class="glyphicon glyphicon-plus"></span>
            Append corner
        </button>
        <button class="btn btn-default btn-block" ng-click="track.cornerPop(); onTrackUpdate()">
            <span class="glyphicon glyphicon-remove"></span>
            Remove last corner
        </button>
    </div>
    <div class="col-sm-4">
        <input id="background-file" type="file" class="hidden" />
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="loadBG()">
            <span class="glyphicon glyphicon-picture"></span>
            Load background<br/><small>1280x720</small>
        </button>
        <div class="btn-group btn-group-justified">
            <div class="btn btn-default" ng-class="{active: track.pixelMode}" ng-click="track.setPixelMode()">
                Pixels
            </div>
            <div class="btn btn-default" ng-class="{active: !track.pixelMode}" ng-click="track.setMeterMode()">
                Meters
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Start position</label>
            <div class="input-group">
                <span class="input-group-addon">X</span>
                <input type="number" class="form-control" min="1" max="1280" ng-model="track.start.x" ng-change="onTrackUpdate()" />
                <span class="input-group-addon">px</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Y</span>
                <input type="number" class="form-control" min="1" max="720" ng-model="track.start.y" ng-change="onTrackUpdate()" />
                <span class="input-group-addon">px</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Sector distance</label>
            <div class="input-group">
                <span class="input-group-addon">1</span>
                <input type="number" class="form-control" min="1" step="0.1" ng-model="track.split1" />
                <span class="input-group-addon">m</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon">2</span>
                <input type="number" class="form-control" min="1" step="0.1" ng-model="track.split2" />
                <span class="input-group-addon">m</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Scale</label>
                <div class="input-group">
                    <input type="number" class="form-control" min="1" ng-model="track.scale.pixels" ng-change="onTrackUpdate()" />
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group">
                    <input type="number" class="form-control" min="1" ng-model="track.scale.meters" ng-change="onTrackUpdate()" />
                    <span class="input-group-addon">m</span>
                </div>
        </div>
    </div>
</div>
<br/>
<div class="row" ng-if="track.selected >= 0">
    <div class="col-sm-5 col-sm-offset-1">
        2D corner length: {{ track.corners[track.selected].length2D|number:2 }}m
    </div>
    <div class="col-sm-5">
        3D corner length: {{ track.corners[track.selected].length3D|number:2 }}m
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        2D corner distance: {{ track.corners[track.selected].distance2D|number:2 }}m
    </div>
    <div class="col-sm-5">
        3D corner distance: {{ track.corners[track.selected].distance3D|number:2 }}m
    </div>
</div>
<br/>
<div class="row" ng-if="track.selected >= 0">
    <div class="visible-xs">
        <div class="btn-group btn-group-lg btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-class="{active: track.corners[track.selected].layout == 1}" ng-click="track.cornerLeft(); onTrackUpdate()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-class="{active: track.corners[track.selected].layout == 0}" ng-click="track.cornerStraight(); onTrackUpdate()">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-class="{active: track.corners[track.selected].layout == -1}" ng-click="track.cornerRight(); onTrackUpdate()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
        <br/>
    </div>
    <div class="hidden-xs col-sm-2">
        <div class="btn-group-vertical btn-group-lg btn-block">
            <button type="button" class="btn btn-default"
                    ng-class="{active: track.corners[track.selected].layout == 1}" ng-click="track.cornerLeft(); onTrackUpdate()">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-default"
                    ng-class="{active: track.corners[track.selected].layout == 0}" ng-click="track.cornerStraight(); onTrackUpdate()">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button type="button" class="btn btn-default"
                    ng-class="{active: track.corners[track.selected].layout == -1}" ng-click="track.cornerRight(); onTrackUpdate()">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label>Sportiness</label>
            <input type="range" class="form-control" min="0" max="5" step="0.0001" ng-model="track.corners[track.selected].sportiness" />
        </div>
        <div class="form-group" ng-if="track.corners[track.selected].layout === 0">
            <label>Length</label>
            <div class="input-group">
                <input type="number" class="form-control" min="1" ng-model="track.corners[track.selected].layoutInfo" ng-change="onTrackUpdate()" />
                <span ng-if="track.pixelMode" class="input-group-addon">px</span>
                <span ng-if="!track.pixelMode" class="input-group-addon">m</span>
            </div>
        </div>
        <div class="form-group" ng-if="track.corners[track.selected].layout !== 0">
            <label>Corner radius</label>
            <div class="input-group">
                <input type="number" class="form-control" min="1" ng-model="track.corners[track.selected].radius" ng-change="onTrackUpdate()" />
                <span ng-if="track.pixelMode" class="input-group-addon">px</span>
                <span ng-if="!track.pixelMode" class="input-group-addon">m</span>
            </div>
        </div>
        <div class="form-group" ng-if="track.corners[track.selected].layout !== 0">
            <label>Angle</label>
            <div class="input-group">
                <input type="number" class="form-control" min="1" max="360" step="0.5" ng-model="track.corners[track.selected].layoutInfo" ng-change="onTrackUpdate()" />
                <span class="input-group-addon">º</span>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label>Slope</label>
            <div class="input-group">
                <input type="number" class="form-control" min="-100" max="100" ng-model="track.corners[track.selected].slope" />
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <label>Camber</label>
            <div class="input-group">
                <input type="number" class="form-control" min="-90" max="90" ng-model="track.corners[track.selected].camber" />
                <span class="input-group-addon">º</span>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-info" role="alert" ng-if="track.pixelMode">
	<strong>Attention:</strong> The track preview above is scaled 1:2.
	Take this into consideration when defining the starting position and corner lengths.
</div>
</div>

<script id="track-template" type="text/x-lua">
--You Can use 0, 1, -1 instead.
local STRAIGHT = 0
local LEFT = 1
local RIGHT = -1

Track = {
        Name = "{{name}}",
        --Track Image Info
        --Track Image must be 1280 x 720
        --Start Position on the Image x,y from Top Left
        Start = { {{start.x}}, {{start.y}} },

        --How many pixels per meter ( Pixels / Length )
        --Measure a long straight and then manipulate from there
        Scale = {{scale.pixels}} / {{scale.meters}},
        Layout = { {{#layout}}{{.}}, {{/layout}}},
        LayoutInfo = { {{#layoutInfo}}{{.}}, {{/layoutInfo}}},
        CornerRadius = { {{#cornerRadius}}{{.}}, {{/cornerRadius}}},
        Slope = { {{#slope}}{{.}}, {{/slope}}},
        Sportiness = { {{#sportiness}}{{.}}, {{/sportiness}}},
        Camber = { {{#camber}}{{.}}, {{/camber}}},
        Split1 = {{split1}},
        Split2 = {{split2}},
}
</script>
